apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      automountServiceAccountToken: false
      containers:
      - name: backend
        image: my-go-backend:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 8000
        volumeMounts:
        - name: secret-volume
          mountPath: "/run/secrets"
          readOnly: true
      volumes:
      - name: secret-volume
        secret:
          secretName: db-secret
